* {
margin: 0;
padding: 0;
}
body {
    background-color:#0E0E0E;
}
.main-div{
    height: 700px;
    width: 650px;
    margin-left: 30%;
    margin-top: 4%;
}
.time-div {
    height: 120px;
    width: 93%;
    background-color:#181818;
    border-radius:19px;
    border: #272727 1px solid;
    display: flex;
}
.time-right {
    height: 100%;
    width: 50%;
    display: block;
    align-content: center;
    padding-left: 20px;
}
.hours {
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.Minutes {
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.period {
    color:#E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.good-message {
    color:#B08C58;
    font-size: 17px;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
.time-left {
    height: 100%;
    width: 50%;
}
.date-div {
    background-color:#272727;
    height: 35px;
    width: 110px;
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    border-radius: 10px;
    border: 1f1f1f 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 55%;
}

.ADDtask-div {
    height: 140px;
    width: 90%;
    background-color:#181818;
    border: #272727 1px solid;
    border-radius:19px; 
    margin-top: 1.5%;
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
}
.addtask {
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 10px;
}
.task-input {
    width: 450px;
    height: 35px;
    border:#2e2d2d 1px solid; 
    border-radius: 10px;
    background-color:#2e2d2d ;
    color: #E4C28A;
    font-size: 15px;
}
.addbtn {
    width: 60px;
    height: 40px;
    border: #3A3224 1px solid;
    border-radius: 10px;
    background-color: #2e2d2d;
    color: #E4C28A;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 20px;
}
.addbtn:hover {
    background-color: #444;
}
.task-para {
    color: #B08C58;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    padding-top:5px ;
    font-size: 13px;
}
.yourtask-div {
    /* height: 370px; */
    width: 93%;
    background-color:#181818;
    border: #272727 1px solid;
    border-radius:19px;
    margin-top: 1%;
    padding-top: 20px;
}
.head-div {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 173px;
}
.head-div button {
    width: 90px;
    height: 35px;
    border: #3A3224 1px solid;
    border-radius:10px ;
    font-size: 17px;
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #2e2d2d;
    cursor: pointer;
}
.head-div button:hover {
    background-color: #444;
}
.addtask2 {
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    padding-left: 20px;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818; 
    padding: 10px 15px;
    border-radius: 8px;
    color: #d4b47a; 
    font-family: Arial, sans-serif;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px; 
}


 .checkbox {
  width: 40px;
  height: 40px;
  appearance: none; 
  background-color: transparent;
  border: 3px solid #E4C28A; 
  border-radius: 10px; 
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;
}

.checkbox:checked {
  background-color: #E4C28A; 
  border-color: #E4C28A;
}

.checkbox:checked::after {
  content: "✔"; 
  position: absolute;
  color: #1E1E1E; 
  font-size: 28px; 
} 

.task-text {
    font-size: 16px;
}

.task-right {
    display: flex;
    gap: 8px; 
}

.editbtn {
    width: 90px;
    height: 35px;
    border: #3A3224 1px solid;
    border-radius:10px ;
    font-size: 17px;
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #2e2d2d;
    cursor: pointer;
}

.deletebtn {
    width: 90px;
    height: 35px;
    border: #D54432 1px solid;
    border-radius:10px ;
    font-size: 17px;
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #D54432;
    cursor: pointer;
}

.editbtn:hover {
    background-color: #444;
}

.deletebtn:hover {
    background-color: #c53030;
}

.count-div{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px; 
    gap: 244px;
}
.count-div p {
    color: #B08C58;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
}
.clrbtn {
    width: 90px;
    height: 35px;
    border: #D54432 1px solid;
    border-radius:10px ;
    font-size: 17px;
    color: #E4C28A;
    font-family: 'Inter', 'Poppins', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #D54432;
    cursor: pointer;
}
.clrbtn:hover {
    background-color: #c53030;
}
